{%extends 'base.html'%} {% set active_page = "home" %} {%block link%}
<link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" /> {%endblock%} {%block title%} Welcome {%endblock%} {%block content%}
<div class="showcase">
    <h1>Welcome to Nep Election</h1>
    <h3>You are a candidate.</h3>

    <p>No of votes casted in your name : %d%d%d</p>
    <a href="{{url_for('LiveAction', username = username)}}">See the live action</a>
</div>
{%endblock%}