{%extends 'base.html'%} {% set active_page = "home" %} {%block link%}
<link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" /> {%endblock%} {%block title%} Welcome {%endblock%} {%block content%}
<div class="showcase">
    <h1>Welcome to Nep Election</h1>
    <h3>You can now vote your favorite candidate in your area.</h3>

    <p>Time remaining to vote : %d%d%d {{time}}</p>
</div>
{%for data in datas%}
<div class="candidate">
    <h1>{{data['FirstName'] + ' ' + data['MiddleName'] + ' ' + data['LastName']}}</h1>
    <h2>{{data['DegreeLevel']}}</h2>
    <p>Summary of vision of the candidate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veniam facilis esse odio explicabo at neque cumque magni blanditiis saepe, sapiente molestiae quaerat eum, alias nostrum! Ab quo et vel.</p>
    <form method="post">
        <input type="Submit" name="submit" value="Submit your vote">
    </form>

</div>
{%endfor%} {%endblock%}

<!-- <div class="candidate">
        <h1>Candidate Name</h1>
        <h2>Candidate Education</h2>
        <p>Summary of vision of the candidate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem sed voluptatibus corporis omnis, nisi dignissimos. Sit expedita ex eaque assumenda quae maxime excepturi laboriosam, natus nam hic, delectus
            voluptas.
        </p>
        <input type="Submit" name="" value="Submit your vote">
    </div>
    <div class="candidate">
        <h1>Candidate Name</h1>
        <h2>Candidate Education</h2>
        <p>Summary of vision of the candidate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore laboriosam sapiente nulla neque atque odit qui! Suscipit delectus rerum accusamus quas at totam reprehenderit! Ipsa atque ab officia soluta possimus.</p>
        <input type="Submit" name="" value="Submit your vote">
    </div>
    <div class="candidate">
        <h1>Candidate Name</h1>
        <h2>Candidate Education</h2>
        <p>Summary of vision of the candidate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste similique praesentium inventore expedita amet eveniet ea omnis perspiciatis hic illum possimus quos, officia eum tenetur distinctio. Rem facilis
            aut consectetur!</p>
        <input type="Submit" name="" value="Submit your vote">
    </div> -->